<div>
<p id="notice"><%= notice %></p>
<h1>Log in</h1>
<%= form_tag(:controller =>"sessions", :action => "login_attempt") do %>
<p>Username:</br> <%= text_field_tag(:username) %></p>
<p>Password:</br> <%= password_field_tag :login_password %></p>
<%= submit_tag("Log in") %>
<% end %>

<%=link_to "New User", :controller => "users", :action => "new"%>

<% if @user.errors.any? %>

<ul class="Signup_Errors">
	
<% for message_error in @user.errors.full_messages %>
		
<li>* <%= message_error %> </li>
	  
<% end %>

</ul>
 
 <% end %>


